.main-section {
  justify-content: center;
  align-items: center;
  position: relative;
  display: flex;
  width: 100%;
  height: 42vw;
}

.main-video {
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-overlay {
  z-index: 3;
  position: absolute;
  text-align: center;
  color: white;
  text-shadow: 0 0 px black;
}

.main-overlay h1 {
  font-size: 3rem;
  margin-bottom: 0px;
}

.main-overlay p {
  font-size: 1.2rem;
  color: #ddd;
}

.logo {
  position: absolute;
  translate: 0 -90%;
  border-radius: 50%;
  background: #0008;
  height: 30%;
  width: auto;
}